<div class="p-4 text-center">
<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="container center_div">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <p class= "col-md-4 offset-md-4">
      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, class: 'form-control' %></br>
    </p>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>