<div class="jumbotron m-4">
  <div class="container text-center">
    <h1 class='display-4 text-center'>Our Mission</h1>
    <p class='lead text-center'>Increase productivity by organizing businesses.</p>
    <p class='lead text-center'>Organization results in increased productivity and revenues.</p>
    </div>
</div>

<div class="container">
<p class="rounded float-left">
    <%= image_tag "shaking_hands.png", :alt => 'people shaking hands', :size => '400x300', :class => "mx-auto d-block rounded" %>
</p>
<p class="rounded float-right">
    <%= image_tag "happy_employees.png", :alt => 'happy employees', :size => '400x300', :class => "mx-auto d-block rounded" %>
</p>
</div>